RedirectMatch 301 (.*)/pageID_13250056.html $1/index.html
RedirectMatch 301 (.*)/pageID_13250057.html $1/acerca-de-nosotros.html
RedirectMatch 301 (.*)/pageID_13250058.html $1/tratamientos.html
RedirectMatch 301 (.*)/pageID_13250059.html $1/patologias.html
RedirectMatch 301 (.*)/pageID_13250060.html $1/obesidad-y-sobrepeso.html
RedirectMatch 301 (.*)/pageID_13250061.html $1/hipertension.html
RedirectMatch 301 (.*)/pageID_13250062.html $1/dislipemias.html
RedirectMatch 301 (.*)/pageID_13250063.html $1/alergias-e-intoleran.html
RedirectMatch 301 (.*)/pageID_13250064.html $1/diabetes.html
RedirectMatch 301 (.*)/pageID_13250065.html $1/otras.html
RedirectMatch 301 (.*)/pageID_13250066.html $1/etapas-vitales.html
RedirectMatch 301 (.*)/pageID_13250067.html $1/ninos-y-adolescentes.html
RedirectMatch 301 (.*)/pageID_13250068.html $1/embarazo-y-lactancia.html
RedirectMatch 301 (.*)/pageID_13250069.html $1/menopausia.html
RedirectMatch 301 (.*)/pageID_13250070.html $1/tercera-edad.html
RedirectMatch 301 (.*)/pageID_13250071.html $1/deportistas.html
RedirectMatch 301 (.*)/pageID_13250072.html $1/noticias-y-colaborac.html
RedirectMatch 301 (.*)/pageID_13250073.html $1/localizacion.html
RedirectMatch 301 (.*)/pageID_13256646.html $1/contacto.html
RedirectMatch 301 (.*)/pageID_13256681.html $1/foro.html
RedirectMatch 301 (.*)/pageID_17272276.html $1/galeria-de-imagenes.html
